---
import ContentLayout from '~/layouts/content.astro'
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import { translate } from '~/lib/translate'
import { parser } from '~/lib/marked'
import GTLogo from '~/assets/google-translate-logo.png'

const { blog, lang } = Astro.params
if (lang!.length > 2) {
  return Astro.redirect(`${Astro.url.pathname}/en`)
}
const entry = await getEntry('blog', blog!.split('/').at(-1) as string)
if (!entry) {
  return Astro.redirect('/404')
}

const translated = await translate({
  text: [
    entry.data.title,
    entry.data.description ||
      (entry.body
        .match(/^(?!#|!|(?:<[^>]*>|&lt;[^&]*&gt;).*$|\s*$).*/m)?.[0]
        .match(/[^\.!\?]+[\.!\?]+/)?.[0] as string),
    parser({ text: entry.body }),
  ],
  target: lang as string,
})

export const prerender = false
---

<ContentLayout
  title={translated.at(0)}
  description={translated.at(1)}
  page={entry}
  lang={`${lang}-x-mtfrom-id`}
>
  <Fragment set:html={translated.at(2)} />
  <p class="__attributions">
    <a
      href="http://translate.google.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Image src={GTLogo} height={16} alt="Translated by Google" />
    </a>
  </p>
</ContentLayout>

<style lang="scss">
  .__attributions {
    text-align: right !important;
  }
</style>
