---
import Layout from './layout.astro'
import { type CollectionEntry, getEntry } from 'astro:content'
import { Image } from 'astro:assets'

interface Props {
  page: CollectionEntry<'blog'>
}

const site = await getEntry('site', 'site')
const { page } = Astro.props
---

<Layout
  title={`${page.data.title} | ${site.data.title}`}
  description={page.body.match(
    /^(?!#|!|(?:<[^>]*>|&lt;[^&]*&gt;).*$|\s*$).*/m
  )?.[0] as string}
>
  <article>
    <h1 class="title">{page.data.title}</h1>
    {
      page.data.image && (
        <p class="image">
          <Image
            src={page.data.image.src}
            width={page.data.image.width}
            height={page.data.image.height}
            alt={page.data.title}
          />
        </p>
      )
    }
    <slot />
  </article>
</Layout>

<style lang="scss">
  .title {
    font-weight: 900;
  }

  .image {
    img {
      object-fit: cover;
      width: 100%;
    }
  }

  @media (min-width: 576px) {
    .title {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 576px) {
    .image {
      margin: 0 calc(var(--spacing) * -1) var(--spacing);
    }
  }
</style>
